# Server configuration
NODE_ENV=development
PORT=3000

# Database configuration (Development)
DB_HOST_DEV=your_dev_db_host
DB_PORT_DEV=your_dev_db_port
DB_USER_DEV=your_dev_db_user
DB_PASSWORD_DEV=your_dev_db_password
DB_NAME_DEV=your_dev_db_name

# Database configuration (Production)
DB_HOST_PROD=your_prod_db_host
DB_PORT_PROD=your_prod_db_port
DB_USER_PROD=your_prod_db_user
DB_PASSWORD_PROD=your_prod_db_password
DB_NAME_PROD=your_prod_db_name

# JWT configuration
JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret

# Email configuration
EMAIL_HOST=smtp.hostinger.com
EMAIL_PORT=465
EMAIL_USER=corruptopia_ai_verify@over55it.com
EMAIL_PASS=A2321rfb!

# Frontend URL
FRONTEND_URL_DEV=http://localhost:5173
FRONTEND_URL_PROD=https://your_production_frontend_url.com

# LLM API Key (Groq)
LLM_API_KEY=YOUR_GROQ_API_KEY

# Debug mode
DEBUG=true

# AdSense Client ID
VITE_ADSENSE_CLIENT_ID=ca-pub-xxxxxxxxxxxxxxxx

# Stripe API Keys
STRIPE_SECRET_KEY_TEST=sk_test_YOUR_STRIPE_TEST_KEY
STRIPE_SECRET_KEY_LIVE=YOUR_STRIPE_SECRET_KEY_LIVE
STRIPE_WEBHOOK_SECRET_PROD=YOUR_STRIPE_WEBHOOK_SECRET_PROD
STRIPE_WEBHOOK_SECRET_DEV=we_1RndoGAUnBj5zF902erAw6z4
STRIPE_PREMIUM_PRICE_ID_PROD=YOUR_STRIPE_PREMIUM_PRICE_ID_PROD
STRIPE_PREMIUM_PRICE_ID_TEST=price_1RndLeAUnBj5zF90sNCK4t89
STRIPE_SCANDAL_RESCUE_PRICE_ID_PROD=YOUR_STRIPE_SCANDAL_RESCUE_PRICE_ID_PROD
STRIPE_SCANDAL_RESCUE_PRICE_ID_TEST=price_1Ro5mqAUnBj5zF905bOy8DPO
